body {
  background-image: url(../images/squoosh-planet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  text-shadow: #fff 0 0 5px, #fff 0 0 10px, #fff 0 0 15px, #ebaccb 0 0 20px, #faafd4 0 0 30px,
    #fb98ca 0 0 40px, #f68bc1 0 0 50px, #f8c2dd 0 0 75px;
}
.form {
  text-align: center;
}
.img {
  max-width: 100%;
  display: block;
}

.input {
  box-sizing: border-box;
  width: 480px;
  border: 2px double #ffffff;
  padding: 10px 20px;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  border-radius: 35px;
  // background-color: rgb(221, 224, 212);
  background: transparent;
  margin-bottom: 20px;
  font-size: 26px;
  color: #10eb10;
  outline: none;
  text-align: center;
  caret-color: forestgreen;
}
.input:focus {
  background: rgb(119, 87, 87);
}
::-webkit-input-placeholder {
  color: red;
  text-align: center;
  margin: auto;
}
:-moz-placeholder {
  color: red;
  text-align: center;
  margin: auto;
}
::-moz-placeholder {
  color: red;
  text-align: center;
  margin: auto;
}
:-ms-input-placeholder {
  color: red;
  text-align: center;
  margin: auto;
}

.countries-list {
  // margin: auto;
  border: 2px double #ffffff;
  border-radius: 35px;
  background-color: rgb(119, 87, 87);
  width: 480px;
  padding: 10px 20px 10px 70px;
  margin-right: auto;
}

.countries-list__item {
  padding-bottom: 10px;
  cursor: pointer;
}
.countries-list__item:hover {
  color: #10eb10;
}

.wrapper {
  width: 480px;
  margin-left: auto;
  border: 2px double #ffffff;
  border-radius: 35px;
  background-color: rgb(119, 87, 87);
  width: 480px;
  padding: 10px 10px 10px 20px;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.card__name {
  text-align: center;
}

.card__description {
  padding-right: 20px;
}

.card__text {
  margin-bottom: 10px;
  font-weight: 600;
}

.card__text-wrapper {
  font-weight: 300;
}

.card__image {
  display: block;
  width: 250px;
  height: auto;
}
