body {
  background-image: url(../images/squoosh-planet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  text-shadow: #fff 0 0 5px, #fff 0 0 10px, #fff 0 0 15px, #ebaccb 0 0 20px, #faafd4 0 0 30px,
    #fb98ca 0 0 40px, #f68bc1 0 0 50px, #f8c2dd 0 0 75px;
}
.form {
  text-align: center;
}
.img {
  max-width: 100%;
  display: block;
}

.body {
  color: black;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 20px;
  line-height: 1.5;
}

.input {
  box-sizing: border-box;
  width: 480px;
  border: 2px double #ffffff;
  padding: 10px 20px 10px 70px;
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  border-radius: 35px;
  // background-color: rgb(221, 224, 212);
  background: transparent;
  margin-bottom: 20px;
  font-size: 26px;
  color: rgb(255, 255, 255);
  outline: none;
}
.input:focus {
  background: rgb(119, 87, 87);
}

.countries-list {
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(136, 117, 117, 0.15);
  background-color: #e6e3e3;
  width: 500px;
}

.countries-list__item {
  padding-bottom: 10px;
  cursor: pointer;
}
.countries-list__item:hover {
  color: #910e14;
}

.wrapper {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #e6e3e3;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(136, 117, 117, 0.15);
  background-color: white;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 20px;
  background-color: #e6e3e3;
}

.card__name {
  text-align: center;
}

.card__description {
  padding-right: 20px;
}

.card__text {
  margin-bottom: 10px;
  font-weight: 600;
}

.card__text-wrapper {
  font-weight: 300;
}

.card__image {
  display: block;
  width: 500px;
  height: auto;
}
